@using TestRunner.UI.ViewModels
@model TestInformationVM

@section AddedStyles
    {
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/vanilla-dataTables.min.css" />
    <script type="text/javascript" src="~/js/vanilla-dataTables.min.js"></script>
}

<div class="seGrid sidebar2">
    <div id="breadCrumbNav">
        <div id="breadCrumbContainer">
            <ul class="breadcrumb">
                <li><a href="/TestInformation">Test Inventory</a></li>
                <li>Action: @Model.Method</li>
                @if (Model.Tests != null)
                {
                    <li>Tests || <a href="?type=pageobjects">Page Objects</a></li>
                }
                else if (Model.PageObjects != null)
                {
                    <li><a href="?type=tests">Tests</a> || Page Objects</li>
                }

            </ul>
        </div>
    </div>
</div>
<div class="seGrid content">
    @if (Model.PageObjects != null)
    {
        <div id="pageObjects">
            <table id="actionsTable" class="stripe hover row-border" style="width:100%">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pageObject in Model.PageObjects)
                    {
                        <tr>
                            <td>
                                <a href="/TestInformation/pageobject/@(pageObject.ClassName)">@pageObject.ClassName</a>
                            </td>
                            <td>@pageObject.Description</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }
    @if (Model.Tests != null)
    {
        <div id="tests">
            <table id="actionsTable" class="stripe hover row-border" style="width:100%">
                <thead>
                    <tr>
                        <th>Test Method</th>
                        <th>Test Fixture</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var test in Model.Tests)
                    {
                        <tr>
                            <td>
                                <a href="/TestInformation/test/@(test.ClassName + "." + test.Method)">@test.Method</a>
                            </td>
                            <td>@test.ClassName</td>
                            <td>@test.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section Scripts
    {
        <script>
            var actionDataTable = new DataTable("#actionsTable", {
                perPage: 25,
                perPageSelect: [10, 25, 50, 150]
            });
        </script>
}